<!DOCTYPE html>
<html>
<head>

  {% comment %} loading in style information {% endcomment %}
  <title>{% block title %}Project 3 Web Application{% endblock %}</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'home/custom_style.css' %}">

</head>
<body>

  {% comment %} -------Navbar------ {% endcomment %}
<div class="container-fluid bg-black">
  <ul class="nav ">
    <li class="nav-item">
      <a class="nav-link link-light" href="/">
        <button class = "btn"></button>
        <img src="{% static 'home/YiFangLogo.jpg' %}" width = "300" height = "100" alt="Image Description" class="img-fluid">
      </a>
    </li>
    <li class = "nav-item">

      <button class = "btn btn-dark btn-custom shadow-lg" onclick="changeTextSize('increase')">+ Text Size</button>
      <button class = "btn btn-dark btn-custom shadow-lg" onclick="changeTextSize('decrease')">- Text Size</button>
      
  </li>
  

 

    
  </ul>

  {% block content %}
  {% endblock %}
</div>

      <p>Temperature: {{ forecast.temperature }} {{ forecast.temperatureUnit }}</p>
    <p>Weather: {{ forecast.shortForecast }}</p>



{% comment %} Grid layout for center page buttons {% endcomment %}
    <div class="grid-container">
      <!-- <div class="grid-item"></div>
      <div class="grid-item"></div>  
      <div class="grid-item"></div>
      <div class="grid-item"></div>   -->
      

      <div class="grid-item">
        <a href="/cashier/">
          <button class = "btn btn-dark btn-custom shadow-lg">Cashier Login</button>
        </a>
      </div>

      <div class=" grid-item">
        <a  href="/manager/">
          <button class = "btn btn-dark btn-custom shadow-lg">Manager Login</button>
        </a>
      </div>

      <div class="grid-item">
        <a href="/menu/">
          <button class = "btn btn-dark btn-custom shadow-lg">Menu</button>
        </a>
      </div>

      <div class="grid-item">
        <a href="/customer/">
          <button class = "btn btn-dark btn-custom shadow-lg">Customer Login</button>
        </a>
      </div>
      <!-- <div class="grid-item"></div>
      <div class="grid-item"></div>  
      <div class="grid-item"></div>
      <div class="grid-item"></div>   -->

    </div>
  

    {% comment %} Acessibility increase and decrease element text size {% endcomment %}


    <script>
        function changeTextSize(action) {
            var elements = document.querySelectorAll('body, button, p');

            elements.forEach(function (element) {
                var currentSize = parseInt(window.getComputedStyle(element).fontSize);

                var minSize = 20;
                var maxSize = 180;

                if (action === 'increase' && currentSize < maxSize) {
                    element.style.fontSize = (currentSize + 2) + 'px';
                } else if (action === 'decrease' && currentSize > minSize) {
                    element.style.fontSize = (currentSize - 2) + 'px';
                }
            });
        }
    </script>
</body>
</html>