<!DOCTYPE html>
<html>
<head>

  {% comment %} loading in style information {% endcomment %}
  <title>{% block title %}{% endblock %}</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'home/custom_style.css' %}">

</head>
<body>

  {% comment %} -------Navbar------ {% endcomment %}
<div class="container-fluid bg-black">
  <ul class="nav ">
    <li class="nav-item">
      <a class="nav-link link-light" href="/">
        <button class = "btn"></button>
        <img src="{% static 'home/YiFangLogo.jpg' %}" width = "300" height = "100" alt="Image Description" class="img-fluid">
      </a>
    </li>

    
  </ul>

  {% block content %}
  {% endblock %}
</div>

      <p>Temperature: {{ forecast.temperature }} {{ forecast.temperatureUnit }}</p>
    <p>Weather: {{ forecast.shortForecast }}</p>


{% comment %} Grid layout for center page buttons {% endcomment %}
    <div class="grid-container">
      <!-- <div class="grid-item"></div>
      <div class="grid-item"></div>  
      <div class="grid-item"></div>
      <div class="grid-item"></div>   -->
      

      <div class="grid-item">
        <a href="/cashier/">
          <button class = "btn btn-dark btn-custom shadow-lg">Cashier Login</button>
        </a>
      </div>

      <div class=" grid-item">
        <a  href="/manager/">
          <button class = "btn btn-dark btn-custom shadow-lg">Manager Login</button>
        </a>
      </div>

      <div class="grid-item">
        <a href="/menu/">
          <button class = "btn btn-dark btn-custom shadow-lg">Menu</button>
        </a>
      </div>

      <div class="grid-item">
        <a href="/customer/">
          <button class = "btn btn-dark btn-custom shadow-lg">Customer Login</button>
        </a>
      </div>
      <!-- <div class="grid-item"></div>
      <div class="grid-item"></div>  
      <div class="grid-item"></div>
      <div class="grid-item"></div>   -->

    </div>
  

</body>
</html>