<!DOCTYPE html>
<html>
<head>

  {% comment %} loading in style information {% endcomment %}
  <title>{% block title %}{% endblock %}</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'home/custom_style.css' %}">

</head>
<body>

  {% comment %} -------Navbar------ {% endcomment %}
  <div class="container-fluid bg-black">
    <ul class="nav ">
      <li class="nav-item">
        <a class="nav-link link-light" href="/">
          <button class = "btn"></button>
          <img src="{% static 'home/YiFangLogo.jpg' %}" width = "300" height = "100" alt="Image Description" class="img-fluid">
        </a>
      </li>
    </ul>
  
    {% block content %}
    {% endblock %}
  </div>


{% comment %} Grid layout for buttons {% endcomment %}

  <div class="grid-container-three-col">
    <div class="grid-item">
      <a href="/manager/orderhistory/">
          <button class = "btn btn-dark btn-custom shadow-lg">Order History</button>
        </a>

    </div>
    <div class="grid-item">
      <a href="/manager/inventory/">
        <button class = "btn btn-dark btn-custom shadow-lg">Inventory</button>
      </a>

    </div>
    <div class="grid-item">
      <a href="/manager/ordertrends/">
        <button class = "btn btn-dark btn-custom shadow-lg">Order Trends</button>
      </a>
    </div>  

  </div>



</body>
</html>