<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}Inventory{% endblock %}</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  {% load static %}
  {% load google_translate %}
  <link rel="stylesheet" type="text/css" href="{% static 'home/custom_style.css' %}">

  <style>
    .black-button {
        background-color: black;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
  </style>

</head>
<body>
  <div class="container-fluid bg-black">
    <ul class="nav ">
      <li class="nav-item">
        <a class="nav-link link-light" href="/employee">
          <img src="{% static 'home/YiFangLogo.jpg' %}" width = "300" height = "100" alt="Image Description" class="img-fluid">
        </a>
      </li>
      <li class = "nav-item">
        <button class = "btn btn-dark btn-custom shadow-lg" onclick="changeTextSize('increase')">+ Text Size</button>
        <button class = "btn btn-dark btn-custom shadow-lg" onclick="changeTextSize('decrease')">- Text Size</button>
      </li>
    </ul>
  
    
  </div>
  {% google_translate %}

  <a href="/accounts/logout/">
    <button class = "black-button">Log Out</button>
  </a>
  
  {% block content %}
  <div class="grid-container-three-col">
    {% for ingredient in ingredients %}
    
      {% comment %} <tr> {% endcomment %}
        
        <form action="{% url 'manager_item_fill_level' %}" method="POST" id="itemForm">
          <div class = "grid-item">
            {% csrf_token %}
            <button class = "btn btn-dark btn-custom shadow-lg" name="ingredient" type="submit" form="itemForm" value="{{ ingredient.ingredient_id }}" >{{ ingredient.name }}</button>
        </div> 
        {% if forloop.counter|divisibleby:3 and not forloop.last %}  
                      </div><div class="grid-container-three-col">
      {% endif %}
      </form>
      
      
      {% comment %} </tr> {% endcomment %}
   
    {% endfor %}
  </div>
  {% endblock %}

  {% comment %} <a href="/manager/inventory/edit/">
    <button>Item Fill Level</button>
  </a> {% endcomment %}

  <script>
    function changeTextSize(action) {
        var elements = document.querySelectorAll('body, button, p, h1, tr, div, img');
        elements.forEach(function (element) {
            var currentSize = parseInt(window.getComputedStyle(element).fontSize);
            var minSize = 20;
            var maxSize = 150;
            if (action === 'increase' && currentSize < maxSize) {
                element.style.fontSize = (currentSize + 2) + 'px';
            } else if (action === 'decrease' && currentSize > minSize) {
                element.style.fontSize = (currentSize - 2) + 'px';
            }
        });
    }
</script>
</body>
</html>