<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Item Fill Level{% endblock %}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'home/custom_style.css' %}">

  </head>
  <body>
    <div class="container-fluid bg-black">
      <ul class="nav ">
        <li class="nav-item">
        
          <img src="{% static 'home/YiFangLogo.jpg' %}" width = "300" height = "100" alt="Image Description" class="img-fluid">
        </li>
        <li class="nav-item">
          <a class="nav-link link-light" href="/">HOME</a>
        </li>
        <li class = "nav-item">

          <button class = "btn btn-dark btn-custom shadow-lg" onclick="changeTextSize('increase')">+ Text Size</button>
          <button class = "btn btn-dark btn-custom shadow-lg" onclick="changeTextSize('decrease')">- Text Size</button>
          
      </li>
      </ul>
    </div>

    <center>

    <h1>{{ ingredient.name }}</h1>
    <p>Current Amount: {{ ingredient.amount }} / {{ ingredient.fill_level }} {{ ingredient.unit }}</p>
    <p>Recommended Fill Level: {{ ingredient.recommended_fill_level }} {{ ingredient.unit }}</p>

    <h1>Set Fill Level</h1>
    <form method="post">
      {% csrf_token %}
      
      <h2>New Fill Level:</h2>
      <input type="text" name="new_fill_level" value="{{ new_fill_level }}"><br><br>
      <button class="btn-menu" type="submit">Set Fill Level</button>
    </form>

    <form method="post">
      {% csrf_token %}
      <button class="btn-menu" type="submit" name="restock" value="true">Restock to Fill Level</button>
    </form>
  </center>

  <script>
    function changeTextSize(action) {
        var elements = document.querySelectorAll('body, button, p');

        elements.forEach(function (element) {
            var currentSize = parseInt(window.getComputedStyle(element).fontSize);

            var minSize = 20;
            var maxSize = 180;

            if (action === 'increase' && currentSize < maxSize) {
                element.style.fontSize = (currentSize + 2) + 'px';
            } else if (action === 'decrease' && currentSize > minSize) {
                element.style.fontSize = (currentSize - 2) + 'px';
            }
        });
    }
</script>
  </body>
</html>