<!DOCTYPE html>
<html lang="en">
<head>

  {% comment %} loading in style information {% endcomment %}
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
   <title>{% block title %}{% endblock %}</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  {% load static %}
  {% load google_translate %}
  <link rel="stylesheet" type="text/css" href="{% static 'home/custom_style.css' %}">

</head>
<body> 

  {% comment %} -------Navbar------ {% endcomment %}
  <div class="container-fluid bg-black">
    <ul class="nav ">
      <li class="nav-item">
        <a class="nav-link link-light" href="/">
          <img src="{% static 'home/YiFangLogo.jpg' %}" width = "300" height = "100" alt="Image Description" class="img-fluid">
        </a>
      </li>
      <li class = "nav-item">
        <button class = "btn btn-dark btn-custom shadow-lg" onclick="changeTextSize('increase')">+ Text Size</button>
        <button class = "btn btn-dark btn-custom shadow-lg" onclick="changeTextSize('decrease')">- Text Size</button>
      </li>
    </ul>
  
    {% block content %}
    {% endblock %}
    
  </div>
  <form action="{% url 'manager_order_trends' %}" method="POST" id="trendsForm">
      {% csrf_token %}
      {% google_translate %}
    <div class = "grid-container-three-col ">
      
      <div class = "grid-item">
        {% comment %} <div class = "colored-box"> {% endcomment %}
        <div class = "btn btn-custom shadow-lg">See Trends From: </div>
      </div>
      
      <div class = "grid-item"></div>
      <div class = "grid-item">
        <select type="text" name="item">
          {% for item in items %}
            <option>{{item.name}}</option>
          {% endfor %}
        </select>
      </div>
      <div class = "grid-item">
        <input type = "datetime-local" name="start" value="{{start}}">
      </div>
      <div class = "grid-item">
        <p>TO</p>
      </div>
      <div class = "grid-item">
        <input type = "datetime-local" name="end" value="{{end}}">
      </div>
      <div class = "grid-item"></div>
      <div class = "grid-item">
        <button type="submit" class = "btn btn-dark btn-custom shadow-lg">GO</button>
      </div>
    </div>
  </form>
  <canvas id="myChart" width="800" height="400"></canvas>

  <script>
    const ctx = document.getElementById('myChart').getContext('2d');
    const myChart = new Chart(ctx, {
        type: 'bar',
        data: {
          labels : [{% for item in labels %}"{{ item }}",{% endfor %}],
            datasets: [{
              label: "Item sales ($)",
              data : [{% for item in values %}{{ item }},{% endfor %}],
              backgroundColor: 'rgba(75, 192, 192, 0.2)',
              borderColor: 'rgba(75, 192, 192, 1)',
              borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>


<script>
    function changeTextSize(action) {
        var elements = document.querySelectorAll('body, button, p');

        elements.forEach(function (element) {
            var currentSize = parseInt(window.getComputedStyle(element).fontSize);

            var minSize = 20;
            var maxSize = 180;

            if (action === 'increase' && currentSize < maxSize) {
                element.style.fontSize = (currentSize + 2) + 'px';
            } else if (action === 'decrease' && currentSize > minSize) {
                element.style.fontSize = (currentSize - 2) + 'px';
            }
        });
    }
</script>

</body>
</html>