<!DOCTYPE html>
<html>
<head>

  {% comment %} loading in style information {% endcomment %}
  <title>{% block title %}Order History{% endblock %}</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'home/custom_style.css' %}">

</head>
<body>

  {% comment %} -------Navbar------ {% endcomment %}
  <div class="container-fluid bg-black">
    <ul class="nav ">
      <li class="nav-item">
        <a class="nav-link link-light" href="/">
          <button class = "btn"></button>
          <img src="{% static 'home/YiFangLogo.jpg' %}" width = "300" height = "100" alt="Image Description" class="img-fluid">
        </a>
      </li>
      <li class = "nav-item">

        <button class = "btn btn-dark btn-custom shadow-lg" onclick="changeTextSize('increase')">+ Text Size</button>
        <button class = "btn btn-dark btn-custom shadow-lg" onclick="changeTextSize('decrease')">- Text Size</button>
        
    </li>
    </ul>
  
    {% block content %}
    {% endblock %}
  </div>


  {% comment %} Container {% endcomment %}
  <div class="grid-single-col ">

    <div class = "grid-item">
      
      Order History

  </div>

    <div class = "grid-item">
        {% comment %} TODO: put data from database into text region {% endcomment %}
        <div class="btn  btn-custom shadow-lg" style="white-space: pre-line;">
            Item: Sample Text
            Price: Another Line
            Quantity: More Text Here
            Name: Final Line
        </div>

    </div>
    {% comment %} TODO: remove this grid item {% endcomment %}
    <div class = "grid-item">
      {% comment %} TODO: put data from database into text region {% endcomment %}
      <div class="btn  btn-custom shadow-lg" style="white-space: pre-line;">
          Item: Sample Text
          Price: Another Line
          Quantity: More Text Here
          Name: Final Line
      </div>

  </div>

  </div>

  <script>
    function changeTextSize(action) {
        var elements = document.querySelectorAll('body, button, p');

        elements.forEach(function (element) {
            var currentSize = parseInt(window.getComputedStyle(element).fontSize);

            var minSize = 20;
            var maxSize = 180;

            if (action === 'increase' && currentSize < maxSize) {
                element.style.fontSize = (currentSize + 2) + 'px';
            } else if (action === 'decrease' && currentSize > minSize) {
                element.style.fontSize = (currentSize - 2) + 'px';
            }
        });
    }
</script>
</body>
</html>