<!DOCTYPE html>
<html lang="en">
<head>

  {% comment %} loading in style information {% endcomment %}
  <title>{% block title %}Edit Cart{% endblock %}</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  {% load static %}
  {% load google_translate %}
  <link rel="stylesheet" type="text/css" href="{% static 'home/custom_style.css' %}">

</head>
<body>

  {% comment %} -------Navbar------ {% endcomment %}
  <div class="container-fluid bg-black">
    <ul class="nav ">
      <li class="nav-item">
        <a class="nav-link link-light" href="/">
          <img src="{% static 'home/YiFangLogo.jpg' %}" width = "300" height = "100" alt="Image Description" class="img-fluid">
        </a>
      </li>
      <li class = "nav-item">
        <button class = "btn btn-dark btn-custom shadow-lg" onclick="changeTextSize('increase')">+ Text Size</button>
        <button class = "btn btn-dark btn-custom shadow-lg" onclick="changeTextSize('decrease')">- Text Size</button>
      </li>
    </ul>
  </div>
  {% google_translate %}

  
  
  <div class="container pt-5">
    <div class="row justify-content-center">
      <div class="col-md-8"> 
        {% block content %}
          <div class="text-center">
            {% for item in items %}
              <form action="{% url 'cashier_index' %}" method="POST" id="deleteForm">
                {% csrf_token %}
                <div class="mb-3">
                  <button class = "btn-menu shadow-lg" name="delete" type="submit" form="deleteForm" value="{{ item.item_id }}">{{ item.name }} ${{ item.price }} (DELETE)</button>
                </div>
              </form>
            {% endfor %}
            <h1>Total Price: ${{ total_price }}</h1>
            <form action="{% url 'cashier_index' %}" method="POST" id="orderForm">
              {% csrf_token %}
              <button class = "btn-menu shadow-lg" name="place_order" type="submit" form="orderForm" value="True">Place Order</button>
            </form>
          </div>
        {% endblock %}
      </div>
    </div>
  </div>
  {% if message %}
    <p>{{ message }}</p>
  {% endif %}

    <script>
      function changeTextSize(action) {
          var elements = document.querySelectorAll('body, button, p');

          elements.forEach(function (element) {
              var currentSize = parseInt(window.getComputedStyle(element).fontSize);

              var minSize = 20;
              var maxSize = 180;

              if (action === 'increase' && currentSize < maxSize) {
                  element.style.fontSize = (currentSize + 2) + 'px';
              } else if (action === 'decrease' && currentSize > minSize) {
                  element.style.fontSize = (currentSize - 2) + 'px';
              }
          });
      }
  </script>
</body>
</html>