<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'home/custom_style.css' %}">


</head>
<body>

  <div class="container-fluid bg-black">
    <ul class="nav ">
      <li class="nav-item">
      
        <img src="{% static 'home/YiFangLogo.jpg' %}" width = "300" height = "100" alt="Image Description" class="img-fluid">
      </li>
      <li class="nav-item">
        <a class="nav-link link-light" href="/">HOME</a>
      </li>
      
    </ul>
  </div>
  {% regroup items by category as categories %}
  {% for category in categories %}
      <tr>
          <h1>{{ category.grouper }}</h1>
          {% for item in category.list %}
              <tr>
                  <form action="{% url 'cashier_tea_specifications' %}" method="POST" id="itemForm">
                      {% csrf_token %}
                      <div class="container">
                        <div class="row">
                          <button class = "btn-menu shadow-lg" name="item" type="submit" form="itemForm" value="{{ item.item_id }}" >
                            {{ item.name }}
                            {% if item.size == 0 %}
                              S
                            {% elif item.size == 1 %}
                              M
                            {% else %}
                              L
                            {% endif %}

                          </button>
                        </div>
                      </div>
                  </form>
              </tr>
          {% endfor %}
      </tr>
  {% endfor %}
  <a href="/cashier/cart/edit/">
    <button class = "btn-menu shadow-lg">Edit Cart</button>
  </a>

  

  </body>
</html>