<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}Cashier Home{% endblock %}</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'home/custom_style.css' %}">


</head>
<body>
  {% comment %} -------Navbar------ {% endcomment %}
  <div class="container-fluid bg-black">
    <ul class="nav ">
      <li class="nav-item">
        <a class="nav-link link-light" href="/">
          <img src="{% static 'home/YiFangLogo.jpg' %}" width = "300" height = "100" alt="Image Description" class="img-fluid">
        </a>
      </li>
      <li class = "nav-item">
        <button class = "btn btn-dark btn-custom shadow-lg" onclick="changeTextSize('increase')">+ Text Size</button>
        <button class = "btn btn-dark btn-custom shadow-lg" onclick="changeTextSize('decrease')">- Text Size</button>
      </li>
    </ul>
  
    {% block content %}
    {% endblock %}
  </div>

  <div class="grid-single-col">
    <a href="/cashier/cart/edit/">
      <button class = "btn-menu btn-dark shadow-lg">Edit Cart</button>
    </a>
</div>
  {% regroup items by category as categories %}
  {% for category in categories %}
      <tr>
          <h1>{{ category.grouper }}</h1>
          <div class="grid-container-three-col">
          {% for item in category.list %}
          
              <tr>
                  <form action="{% url 'cashier_tea_specifications' %}" method="POST" id="itemForm">
                      {% csrf_token %}
                      
                        <div class="grid-item">
                          <button class = "btn-menu btn-dark shadow-lg" name="item" type="submit" form="itemForm" value="{{ item.item_id }}" >
                            {{ item.name }}
                            {% if item.size == 0 %}
                              S
                            {% elif item.size == 1 %}
                              M
                            {% else %}
                              L
                            {% endif %}

                          </button>
                        </div>
                          {% if forloop.counter|divisibleby:3 and not forloop.last %}  
                      </div><div class="grid-container-three-col">
                        {% endif %}
                      
                  </form>
              </tr>
          {% endfor %}
        </div>
      </tr>
  {% endfor %}
  

  <script>
    function changeTextSize(action) {
        var elements = document.querySelectorAll('body, button, p');

        elements.forEach(function (element) {
            var currentSize = parseInt(window.getComputedStyle(element).fontSize);

            var minSize = 20;
            var maxSize = 180;

            if (action === 'increase' && currentSize < maxSize) {
                element.style.fontSize = (currentSize + 2) + 'px';
            } else if (action === 'decrease' && currentSize > minSize) {
                element.style.fontSize = (currentSize - 2) + 'px';
            }
        });
    }
</script>

  </body>
</html>