<!DOCTYPE html>
<html lang="en">
<head>

  {% comment %} loading in style information {% endcomment %}
  <title>{% block title %}Purchase Details{% endblock %}</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  {% load static %}
  {% load google_translate %}
  <link rel="stylesheet" type="text/css" href="{% static 'home/custom_style.css' %}">

</head>
<body>

  {% comment %} -------Navbar------ {% endcomment %}
  <div class="container-fluid bg-black">
    <ul class="nav ">
      <li class="nav-item">
        <a class="nav-link link-light" href="/">
          <img src="{% static 'home/YiFangLogo.jpg' %}" width = "300" height = "100" alt="Image Description" class="img-fluid">
        </a>
      </li>
      <li class = "nav-item">
        <button class = "btn btn-dark btn-custom shadow-lg" onclick="changeTextSize('increase')">+ Text Size</button>
        <button class = "btn btn-dark btn-custom shadow-lg" onclick="changeTextSize('decrease')">- Text Size</button>
      </li>
    </ul>
  
    {% block content %}
    {% endblock %}
  </div>

  {% google_translate %}
  <script>
    function changeTextSize(action) {
        var elements = document.querySelectorAll('body, button, p');

        elements.forEach(function (element) {
            var currentSize = parseInt(window.getComputedStyle(element).fontSize);

            var minSize = 20;
            var maxSize = 180;

            if (action === 'increase' && currentSize < maxSize) {
                element.style.fontSize = (currentSize + 2) + 'px';
            } else if (action === 'decrease' && currentSize > minSize) {
                element.style.fontSize = (currentSize - 2) + 'px';
            }
        });
    }
</script>
</body>
</html>