<!DOCTYPE html>
<html lang="en">
    <head>
    <title>{% block title %}Tea Specifications{% endblock %}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'home/custom_style.css' %}">
    </head>
    <body>

    <div class="container-fluid bg-black">
        <ul class="nav ">
            <li class="nav-item">
              <a class="nav-link link-light" href="/">
                <img src="{% static 'home/YiFangLogo.jpg' %}" width = "300" height = "100" alt="Image Description" class="img-fluid">
              </a>
            </li>
            <li class = "nav-item">
              <button class = "btn btn-dark btn-custom shadow-lg" onclick="changeTextSize('increase')">+ Text Size</button>
              <button class = "btn btn-dark btn-custom shadow-lg" onclick="changeTextSize('decrease')">- Text Size</button>
            </li>
          </ul>
    {% block content %}
    {% endblock %}
    </div>
    <form action="{% url 'cashier_index' %}" method="POST" id="itemForm">
        {% csrf_token %}
        <div class="ice">
            <h2>Ice Level Choose One</h2>
            <input type="radio" class="btn-check" name="ice" id="ice1" value="20" autocomplete="off" checked="checked">
            <label class="btn btn-secondary btn-menu shadow-lg" for="ice1">No Ice</label>

            <input type="radio" class="btn-check" name="ice" id="ice2" value="21" autocomplete="off">
            <label class="btn btn-secondary btn-menu shadow-lg" for="ice2">25% Ice</label>

            <input type="radio" class="btn-check" name="ice" id="ice3" value="22" autocomplete="off">
            <label class="btn btn-secondary btn-menu shadow-lg" for="ice3">50% Ice</label>

            <input type="radio" class="btn-check" name="ice" id="ice4" value="23" autocomplete="off">
            <label class="btn btn-secondary btn-menu shadow-lg" for="ice4">75% Ice</label>

            <input type="radio" class="btn-check" name="ice" id="ice5" value="24" autocomplete="off">
            <label class="btn btn-secondary btn-menu shadow-lg" for="ice5">Regular Ice</label>
        </div>

        <div class="sweetness">
            <h2>Sweetness Level Choose One</h2>

            <input type="radio" class="btn-check" name="sweetness" id="sweetness5" value="15" autocomplete="off" checked="checked">
            <label class="btn btn-secondary btn-menu shadow-lg" for="sweetness5">No Sugar</label>

            <input type="radio" class="btn-check" name="sweetness" id="sweetness4" value="16" autocomplete="off">
            <label class="btn btn-secondary btn-menu shadow-lg" for="sweetness4">25% Sugar</label>

            <input type="radio" class="btn-check" name="sweetness" id="sweetness3" value="17" autocomplete="off">
            <label class="btn btn-secondary btn-menu shadow-lg" for="sweetness3">50% Sugar</label>

            <input type="radio" class="btn-check" name="sweetness" id="sweetness2" value="18" autocomplete="off">
            <label class="btn btn-secondary btn-menu shadow-lg" for="sweetness2">75% Sugar</label> 

            <input type="radio" class="btn-check" name="sweetness" id="sweetness1" value="19" autocomplete="off">
            <label class="btn btn-secondary btn-menu shadow-lg" for="sweetness1">100% Sugar</label>
           
        </div>

        <div class="milk">
            <h2>Milk Level Choose One</h2>
            <input type="radio" class="btn-check" name="milk" id="milk1" value="0" autocomplete="off" checked="checked">
            <label class="btn btn-secondary btn-menu shadow-lg" for="milk1">No Milk</label>
          
            <input type="radio" class="btn-check" name="milk" id="milk2" value="1" autocomplete="off">
            <label class="btn btn-secondary btn-menu shadow-lg" for="milk2">25% Milk</label>
          
            <input type="radio" class="btn-check" name="milk" id="milk3" value="2" autocomplete="off">
            <label class="btn btn-secondary btn-menu shadow-lg" for="milk3">50% Milk</label>
          
            <input type="radio" class="btn-check" name="milk" id="milk4" value="3" autocomplete="off">
            <label class="btn btn-secondary btn-menu shadow-lg" for="milk4">75% Milk</label>
          
            <input type="radio" class="btn-check" name="milk" id="milk5" value="4" autocomplete="off">
            <label class="btn btn-secondary btn-menu shadow-lg" for="milk5">Regular Milk</label>
        </div>
          
        <div class="milktype">
            <h2>Milk Type Choose One</h2>
            <input type="radio" class="btn-check" name="milktype" id="milktype1" value="0" autocomplete="off" checked="checked">
            <label class="btn btn-secondary btn-menu shadow-lg" for="milktype1">Whole Milk</label>
            
            <input type="radio" class="btn-check" name="milktype" id="milktype2" value="1" autocomplete="off">
            <label class="btn btn-secondary btn-menu shadow-lg" for="milktype2">Oat Milk</label>
            
            <input type="radio" class="btn-check" name="milktype" id="milktype3" value="2" autocomplete="off">
            <label class="btn btn-secondary btn-menu shadow-lg" for="milktype3">Soy Milk</label>
        </div>

        <div class="toppings">
            <h2>Toppings Choose 0 or more</h2>
            <input type="checkbox" class="btn-check" name="toppings" id="toppings1" value="25" autocomplete="off">
            <label class="btn btn-secondary btn-menu shadow-lg" for="toppings1">Tapioca Pearls</label>

            <input type="checkbox" class="btn-check" name="toppings" id="toppings2" value="26" autocomplete="off">
            <label class="btn btn-secondary btn-menu shadow-lg" for="toppings2">Grass Jelly</label>

            <input type="checkbox" class="btn-check" name="toppings" id="toppings3" value="27" autocomplete="off">
            <label class="btn btn-secondary btn-menu shadow-lg" for="toppings3">Golden Jelly</label>

            <input type="checkbox" class="btn-check" name="toppings" id="toppings4" value="28" autocomplete="off">
            <label class="btn btn-secondary btn-menu shadow-lg" for="toppings4">Aiyu Jelly</label>

            <input type="checkbox" class="btn-check" name="toppings" id="toppings5" value="29" autocomplete="off">
            <label class="btn btn-secondary btn-menu shadow-lg" for="toppings5">Taro Balls</label>

            <input type="checkbox" class="btn-check" name="toppings" id="toppings6" value="30" autocomplete="off">
            <label class="btn btn-secondary btn-menu shadow-lg" for="toppings6">Aloe Vera</label>

            <input type="checkbox" class="btn-check" name="toppings" id="toppings7" value="31" autocomplete="off">
            <label class="btn btn-secondary btn-menu shadow-lg" for="toppings7">Pudding</label>

            <input type="checkbox" class="btn-check" name="toppings" id="toppings8" value="32" autocomplete="off">
            <label class="btn btn-secondary btn-menu shadow-lg" for="toppings8">Red Bean</label>

            <input type="checkbox" class="btn-check" name="toppings" id="toppings9" value="33" autocomplete="off">
            <label class="btn btn-secondary btn-menu shadow-lg" for="toppings9">Matcha</label>
        </div>
        <div class="add to order">
            <button class = "btn-menu shadow-lg" type="submit">Add To Order</button>
        </div>
    </form>

    <script>
      function changeTextSize(action) {
          var elements = document.querySelectorAll('body, button, p');

          elements.forEach(function (element) {
              var currentSize = parseInt(window.getComputedStyle(element).fontSize);

              var minSize = 20;
              var maxSize = 180;

              if (action === 'increase' && currentSize < maxSize) {
                  element.style.fontSize = (currentSize + 2) + 'px';
              } else if (action === 'decrease' && currentSize > minSize) {
                  element.style.fontSize = (currentSize - 2) + 'px';
              }
          });
      }
  </script>
    </body>
</html>